ul {
  list-style: none;
}
.card {
  margin: 200px;
  text-align: center;
  background-color: pink;
  color: white;
}
#dotw {
  display: inline-block;
  padding: 20px;
}
.head {
  text-align: left;
  padding-left: 20px;
}
body {
  background-color: pink;
  background-image: url("sunny.jpg");
}

.bg-image {
  background-image: url("sunny.jpg");
}
p {
  font-size: 80px;
}
h2 {
  padding-top: 20px;
}
