div.container {
  max-width: 600 px;
  text-align: center;
  font-family: monospace;
  margin: 10px;
}
div.wht {
  color: #ff3266;
}
div.themf {
  color: #ab47bd;
}
div.Weather {
  color: #4eae53;
}
div.button {
  text-align: center;
}
h1.wtw {
  font-weight: bolder;
}
h1 {
  color: #ff3266;
}
footer {
  text-align: center;
}
form {
}
div.row {
  color: #ab47bd;
  font-weight: bolder;
  font-family: monospace;
  font-size: larger;
  text-align: center;
}
div.today {
  color: #4eae53;
}
div.now {
  color: #4eae53;
  font-size: 120px;
}
div.highlow {
}
div.describe {
}
h1.current {
  text-align: center;
}
div.line {
  color: #ab47bd;
}
div.degrees {
  font-size: 80px;
}
div.emoji {
  font-size: 80px;
}
div.footer {
  text-align: center;
  font-family: monospace;
  color: #ab47bd;
}
