ul {
  list-style: none;
}
.card {
  margin: 200px;
  text-align: center;
  opacity: 0.5;
}
#dotw {
  display: inline-block;
  padding: 20px;
}
.head {
  text-align: left;
  padding-left: 20px;
}
body {
  background-image: url("mountainsunset.jpg");
}

.bg-image {
  background-image: url("mountainsunset.jpg");
}
